.hide {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  font-weight: 400;
  margin: 0;
}

img {
  display: block;
}

input {
  font-family: inherit;
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}

.header {
  box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
  background-color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    min-width: 320px;
  }
}

.container {
  min-width: 320px;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* @media screen and (min-width: 320px) and (max-width: 767px) {
    .header-container {
        display: block;
        margin-right: 149px;

    }
} */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  display: inline-block;
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .header-logo-span {
  color: #2e2f42;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .navigation {
    justify-content: flex-start;
    flex-grow: 0;
    margin-right: 121px;
  }
}

@media only screen and (min-width: 1158px) {
  .navigation {
    margin-right: 332px;
  }
}

.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  background-color: transparent;
  border: none;
}

@media only screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.nav-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

.nav-item>.nav-link {
  display: block;
  padding: 24px 0;
  position: relative;
  color: #2e2f42;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  color: #404bbf;
}

.nav-link.current::after {
  content: "";
  width: 100%;

  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  display: none;
  font-style: normal;
}

@media only screen and (min-width: 768px) {
  .address {
    display: block;
  }
}

.address-list {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

@media only screen and (min-width: 768px) {
  .address-list {
    align-items: center;
  }
}

@media only screen and (min-width: 1158px) {
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
}

.address-link {
  display: block;
  width: 151px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.hero {
  min-width: 320px;
  background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/bg/Dark-bg_mob@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  padding: 188px 0;
  margin: 0 auto;
}

@media (min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/bg/Dark-bg_mob@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/bg/Dark-bg_tab@1x.jpg);
  }
}

@media (min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/bg/Dark-bg_tab@2x.jpg);
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/bg/bg-people-office.jpg);
  }
}

@media (min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/bg/people-office_desk@2x.jpg);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;

  display: block;
  max-width: 216px;
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-button {
  background-color: #4d5ae5;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  display: block;
  border-radius: 4px;
  border: 0;
  padding: 16px 32px;
  max-width: 169px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Features Section */

.features {
  padding-top: 96px;
  padding-bottom: 96px;

  width: 100%;
}

@media only screen and (min-width: 1158px) {
  .feature {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.features-container {
  display: block;
  width: 320px;
}

@media only screen and (min-width: 768px) {
  .features-container {
    width: 768px;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .features-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-item {
  flex-basis: calc((100% - 72px * 3) / 4);
}

.features-item>.icon-wrapper {
  display: none;
}

@media only screen and (min-width: 768px) {
  .features-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    flex-basis: calc((100% - 24px * 3) / 4);
  }
}

@media only screen and (min-width: 1158px) {
  .features-item>.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;

    padding: 24px 100px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
  }
}

.features-subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
}

@media only screen and (min-width: 1158px) {
  .features-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  width: 288px;
  /* width: 264px; */
}

@media only screen and (min-width: 1158px) {
  .features-text {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
  }
}

/* Team Section */

.team {
  background-color: #f4f4fd;

  padding-top: 120px;
  padding-bottom: 120px;
}

@media only screen and (min-width: 768px) {
  .team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media only screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-list {
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.team-card {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

  flex-basis: calc((100% - 72px * 3) / 4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .team-card {
    flex-basis: calc((100% - 24px * 3) / 4);
  }
}

.team-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/* Portfolio Section */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

@media only screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
  }
}

.portfolio-item {
  max-width: 288px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .portfolio-item {
    flex-basis: calc((100% - 24px * 5) / 6);
  }
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.portfolio-item:hover,
.portfolio-item:focus p {
  transform: translateY(0%);
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  padding: 40px 32px;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-wrapper:hover .overlay-content {
  transform: translateY(0);
}

.app-content-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  margin-bottom: 72px;
}

.thumb {
  display: block;
  object-fit: cover;
}

.portfolio-item-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  display: block;
}

/* Footer Section */

.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 92px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.footer-about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .footer-about-wrapper {
    align-items: flex-start;
    margin-right: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-about-wrapper {
    margin-right: 120px;
    margin-bottom: 0;
  }
}

.footer-logo {
  display: inline-block;
  padding: 0;
  margin-right: 0;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.social-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

@media only screen and (min-width: 1158px) {
  .social-wrapper {
    margin-right: 80px;
  }
}

.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;

  margin-bottom: 16px;
}

.footer-social-list {
  gap: 16px;
}

.social-item .footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer-form-wrapper {
    align-items: flex-start;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  /* gap: 24px; */
}

@media only screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
}

.form-title {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-input {
  height: 40px;
  width: 264px;
  padding-left: 16px;

  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-btn {
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;

  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover {
  background-color: #404bbf;
}

.icon.footer-submit-icon {
  fill: #fff;
  margin-left: 16px;
}

/* Modal Window */

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* @media only screen and (min-width: 768px) {
  .modal-overlay {

  }
} */

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  background-color: #fcfcfc;
  position: absolute;
  top: 25%;
  left: 25%;
  max-width: 288px;
  min-height: 623px;

  overflow: hidden;
  padding: 72px 16px 24px 16px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  font-family: "Roboto", sans-serif;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    min-height: 584px;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;

  }
}

.close-btn {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  padding: 0;
  outline: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon.close-icon {
  display: block;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .icon.close-icon,
.close-btn:focus .icon.close-icon {
  fill: #ffffff;
}

.modal-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin: 0 auto 16px;
  max-width: 256px;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.modal-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-form-field.comment-field {
  margin-bottom: 16px;
}

.modal-form-wrapper {
  position: relative;
  max-width: 360px;
}

.icon.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.modal-input:focus+.icon.input-icon {
  fill: #4d5ae5;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.comment-input {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-family: inherit;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-size: 12px;
  resize: none;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input:focus {
  border-color: #4d5ae5;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-agreement {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
  position: relative;
}

input[type="checkbox"]:checked+.modal-form-agreement-text>.modal-form-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;

  cursor: pointer;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-text-wrapp {
  width: 231px;
}

.checkbox-text {
  display: inline-flex;
}

.modal-form-checkbox-icon {
  opacity: 0;
}

input[type="checkbox"]:checked+.modal-form-agreement-text>.modal-form-checkbox>.modal-form-checkbox-icon {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-agreement-text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;

}

.privacy-policy {
  text-decoration: underline;
  color: #4d5ae5;
}

.modal-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Mobile menu */

.mobile-menu {
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;

  background-color: #fff;
  position: absolute;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 40px;
  padding-left: 16px;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;

  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.menu-close-btn {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  outline: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  padding-top: 72px;
  margin-bottom: 168px;
}

.menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f2e;
}

.menu-link.current {
  color: #404bbf;
}

.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mob-address-link {
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f2e;
}

.mob-address-link.current {
  color: #404bbf;
}

.mob-social {
  max-width: 288px;
}

.mob-menu-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/* .mob-menu-socials > li {
  background-color: ;

} */